snippet var "Unity: Tunable variable with tooltip" b
[Tooltip("${3:description}")]
public ${1:type} ${2:name};
${0}
endsnippet

snippet log "Unity: Debug log message" b
Debug.Log(${1:msg}, ${2:this});$0
endsnippet

snippet err "Unity: Debug error message" b
Debug.LogError(${1:msg}, ${2:this});$0
endsnippet
